
<form>
  <fieldset>
    <legend>Ola</legend>
    <div class="mb-3">
      <label for="ValorInput" class="form-label">Valor</label>
      <input type="text" id="valor" class="form-control" placeholder="XX,xx">
    </div>
    <div class="mb-3">
      <label for="disabledSelect" class="form-label">Seleciona conta de destino:</label>
      <select id="disabledSelect" class="form-select">
        <option>Conta de destino</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </fieldset>
</form>

<p>TESTESTESTESTESTESTES</p>
